<% provide(:title, "About") %>
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>This is the about page header</h2>
          <p>This will be a block of text that sits at the top of the page and introduces the page and what it containes</p>
      </div>
    </div>
  </div>
</section>

<section id="coach-empathy" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <h2>Meet Joe Maloney</h2>
          <p>This block of text will be 2 paragraphs max and explain joe's riding and coaching background, his progression from beginning rider to now. How did I get into riding, what allowed me to progress, why did I start coaching, and what have I done in coaching that sets me apart from other coaches.</p>
      </div>
      <div class="col-lg-3 mx-auto">
        <%= image_tag "carter_downhill.jpg", size: "250", class: "photo-circle" %>
      </div>
    </div>
  </div>
</section>

<section id="coach-authority" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mx-auto">
        <%= image_tag "nate_and_katy.jpg", size: "250", class: "photo-circle" %>
      </div>
      <div class="col-lg-7 mx-auto">
        <h2>Coaching rooted in tradition and reaching towards the future</h2>
          <p>This section should lay out my certification. likely use bullet points.</p>
          <p>Summarize my coaching philosophy. What are my guiding principles for myself as a coach. And what are the guiding principles I use when working with my clients, and what principles do I try to instill in my clients.</p>
          <p>Outline the plan. What does plan mean and what are the tangible compnents, what does work mean and how do we execute it, and what does analysis mean, and how does it loop back into the process again.</p>
      </div>
    </div>
  </div>
</section>

<section id="plans" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <span><h2>See the plans!</h2></span>
      </div>
      <div class="col">
        <p>Card for the training plans!</p>
      </div>
      <div class="col">
        <p>Card for the Coaching Advisor Coaching!</p>
      </div>
      <div class="col">
        <p>Card for full coaching!</p>
      </div>
    </div>
  </div>
</section>
