<section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>This is the character page</h2>
            <p>This is where we put the stuff we want</p>
          </div>
        </div>
      </div>
    </section>