<% provide(:title, "Athletes") %>
<section class="text-center focus-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <h2>There are many ways to be an athlete...</h2>
        <p>What kind of athlete are you?</p>
      </div>
      <div class="col-lg-5 mx-auto">
        <p>This will be a dropdown to select athletes below</p>
      </div>
    </div>
  </div>
</section>

<section class="text-center focus-section" id="athlete-template">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>This is the character page</h2>
        <p>This is where we put the stuff we want</p>
      </div>
    </div>
  </div>
</section>