<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 mx-auto red">
      <h1>red col</h1>
      <p>This is a red column.</p>
    </div>
    <div class="col-lg-8 mx-auto blue">
      <h1>blue col</h1>
      <p>this is a blue column</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 mx-auto yellow">
      <h1>yellow col</h1>
      <p>This is a yellow column.</p>
    </div>
    <div class="col-lg-8 mx-auto green">
      <h1>green col</h1>
      <p>this is a green column</p>
    </div>
  </div>
</div>