<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-title">
            <h2>Admin Panel</h2>
        </li>
        <li class="sidebar-item">
            <%= link_to "home", root_path %>
        </li>
    </ul>
</div>