<nav class="sidebar" id="admin-sidebar">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <h3>Admin</h3>
      <ul>
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_admin_session_path() %>
        <% end %>
        <li>
          <%= link_to "Blog", blog_index_path %>
        </li>
        <li>
          <%= link_to "Tags", tags_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>