<% if item.errors.any? %>
     <div class="text-danger">
        <p><%= pluralize(item.errors.count, "error") %> prevented this post from saving.</p>
          <ul>
            <% item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul> 
     </div>
<% end %>