<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse">
      <%= link_to "JM Coaching Services", root_path, class: "navbar-brand" %>
      </ul>
    </div>
  </div>
</nav>