<% provide(:title, "Blog") %>
<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <%= image_tag post.image.to_s, class: "img-fluid" %>
          </div>
          <div class="col-lg-8 mx-auto">
            <h1><%= link_to post.title, post %></h1>
            <p><%= post.summary %></p>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
