<!DOCTYPE html>
<html>
<head>

<%= render 'shared/head' %>

</head>
<body id="page-top">

  <%= render 'shared/unsecure/nav' %>  

  <%= yield %>

  <%= render 'shared/unsecure/footer' %>

</body>
</html>
